{% extends 'base.html' %}

{% block content %}
    <div class="dashboard-container">
        <h1>My Dashboard</h1>
        <p><span style="background-color: rgb(96, 169, 187);">Click on one of these buttons to run a scan and wait, once the scan is finished you can start other one.</span></p>

        <!--  Application Logs -->
        <a href="{% url 'app_logs' %}" class="btn app-logs-btn">Application Logs</a>
        <!--  Authentication Logs -->
        <a href="{% url 'auth_logs' %}" class="btn auth-logs-btn">Authentication Logs</a>
        <!--  Network Logs -->
        <a href="{% url 'network_logs' %}" class="btn network-logs-btn">Network Logs</a>
    </div>
    

{% endblock %}